

   .col12 {
       width: 100%;
    }

    .col11 {
      width: 81.7%;
    }

    .col10 {
      width: 83.3%;
    }

    .col9 {
      width: 75%;
    }

    .col8 {
      width: 66.7%;
    }

    .col7 {
      width: 58.3%;
    }

    .col6 {
      width: 50%;
    }

    .col5 {
      width: 41.7%;
    }

    .col4 {
      width: 33.3%;
    }

    .col3 {
      width: 25%;
    }

    .col2{
      width: 16.7%
    }

    .col1 {
      width: 8.3%;
    }

    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
      float: left;
    }

    body{
      background-color: #171717;
    }


    #share-box {position: relative;float:left;}
    .btnShare{
    float:left;
    padding: 10px; 
    margin-right:15px;
    cursor: pointer;
    } 
    .btnFacebook {background: #09B51A;}
    .btnTwitter { }
    .btnGoogle { }
    .txt-content {clear:both;padding-top: 5px;}
    .txt-share{color: #FFF;padding-left:5px;}

    @media (min-width: 576px) { 

        #photo img{  
          }
    }

    @media screen and (min-width: 845px) and (max-width: 1044px) {

        body{width:100%;margin:0 auto;}

        #share-box {  
        position: absolute;
        float:left;
        } 
        .btnShare{
        clear:both;
        padding: 15px; 
        margin-top: 49%;
        width: 4%;
        height: 4%;
        cursor: pointer; 
        margin-bottom:15px;
        }
        .txt-content {
        border-left: #F0F0F0 1px solid;
        padding-left: 20px;
        margin-left: 54px;
        }    
        .txt-share{display:none;}
    }

    @media screen and (max-width: 844px) {
        body{width:70%; margin:0 auto;}
        header ul{width:90%; font-size: 1%; margin:0 auto;}
        header ul li a{
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color : #ffff;
            font-size: 2px;
            font-family: 'Raleway', sans-serif;
            letter-spacing: 1px;
            line-height: 10px;
            font-weight: 600;
            padding: 25px;
            transition: all ease 0.5s;
        }

        .btnShare {    
        width: 40%;
        height: 40%;
        float: left;    
        padding: 5px; 
        cursor: pointer; 
        } 
        .txt-share{display:none;}    
    } 

    .header {
      width : 100%;
      background-color: rgba(0,0,0,.1);
      position: fixed;
      z-index: 1;
      margin : 1% auto;
      margin-left: -0.6%;
      transition: .5s;
    }

    .scrolling-active .header{
      background-color: black;
      height : 95px;
      padding-top: 2%;
      margin-top: -2%;
      box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    }

    .scrolling-active .header ul li a{
      margin-top: 2%;
      color: white;
    }

    .header ul{
      text-align: center;
      float: right;
      margin-right: 2%;
    }

    .header ul li{
      display: inline-block;
    }

    .header ul li a{
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color : #ffff;
      font-size: 20px;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 1px;
      line-height: 10px;
      font-weight: 600;
      padding: 25px;
      transition: all ease 0.5s;
    }

    .header ul li a:hover{
      background-color: #136616;
    }

    #photo{
      border-radius: 100%;
      outline-color: white;
    }

      

    #phototxt img{
      margin-left: 10%;
      max-width: 80%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }
    
    #photoport img{
      max-width: 32%;
      width: auto;
      height: auto;
    }

    #photospp img{
      margin-bottom: 5%;
      max-width: 100%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }

    #photojava img{
      margin-bottom: 5%;
      max-width: 100%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }

    #photoos img{
      margin-bottom: 5%;
      max-width: 100%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }

    #photoc1 img{
      margin-bottom: 5%;
      max-width: 100%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }

    #photoc2 img{
      margin-bottom: 5%;
      max-width: 100%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }

    #photoint img{
      margin-bottom: 5%;
      max-width: 100%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }

    #photoresume   img{
      margin-bottom: 5%;
      max-width: 100%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }

    #wrapper{ 
      height: 1170;
      margin-top: 3%;  
    }

    .box1{
      width: 100%;
    }

    #photo img{
      border-radius: 100%;
      margin-top: 13%;
      background-color: white;
      margin-left: 0%;
      max-width: 80%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }


    #btn{
      border-radius: 100%;
      outline-color: white;
    }


    button {
      background-color: #4CAF50; /* Green */
      margin-top: 13%;
      background-color: white;
      max-width: 80%;
      width: auto;
      height: auto;
      padding: 5px 5px 5px 5px;
    }

    .card-resume{
      background-color: #545454;
      font-size: 14px;
    }

    .text-yellow{
      color : #e5e91b;
    }